<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
    <div class="post-user-name">
        <!-- ユーザーの画像が表示されるように、以下のsrcの中を埋めてください -->
        
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <!-- link_toメソッドを用いて、ユーザー詳細ページへのリンクを作成してください -->
        <%=link_to(@user.name, "/users/#{@user.id}") %>
      </div>
    <p>
        <!-- @postのcontentカラムのデータを表示してください -->
        <%=@post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <!-- if文を用いて、表示内容を切り替えてください -->
      <%if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
      <%= link_to("/likes/#{@current_user.id}/#{@post.id}/destroy", {method: "post"}) do %>
                    <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <%else%>
      <!-- 以下の1行をcreateアクションへのリンクに書き換えてください -->
      <%= link_to("/likes/#{@current_user.id}/#{@post.id}/create", {method: "post"}) do %>
        <span class="fa fa-heart like-btn"></span>
        <% end %>
      <%end%>

      <!-- 変数@likes_countを表示してください -->
      <%= @likes_count %>

      <!-- ここに指定されたHTMLを貼り付けてください -->
      <% if @post.user_id == @current_user.id%>
        <div class="post-time">
          <!-- @postのcreated_atカラムのデータを表示してください -->
          
          <div class="post-menus">
          <%= link_to("編集", "/posts/#{@current_user.id}/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@current_user.id}/#{@post.id}/destroy", {method:"post"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>